<mat-card style='display: flex; align-items: center; flex-direction: row; padding: 20px;'>

    <mat-card-content>
        <form [formGroup]="clienteReactive" class="example-form" (ngSubmit)="save()">

            <p>
                <mat-form-field appearance="outline" color="primary" floatLabel="always">
                    <mat-label>Nome</mat-label>
                    <input matInput placeholder="Inserisci nome" type="text" name="nome" formControlName="nome">
                    <mat-error *ngIf="clienteReactive.get('nome')?.hasError('required')">Nome obbligatorio</mat-error>
                    <mat-error *ngIf="clienteReactive.get('nome')?.hasError('minlength')">Minimo 4 caratteri</mat-error>
                </mat-form-field>
  
            <p>
                <mat-form-field appearance="outline" color="primary" floatLabel="always">
                    <mat-label>Cognome</mat-label>
                    <input matInput placeholder="Inserisci il cognome" type="text" name="cognome"
                    formControlName="cognome">
                    <mat-error *ngIf="clienteReactive.get('cognome')?.hasError('required')">Cognome obbligatorio</mat-error>
                    <mat-error *ngIf="clienteReactive.get('cognome')?.hasError('minlength')">Minimo 4 caratteri</mat-error>
                </mat-form-field>
            </p>

            <p>
                <mat-form-field appearance="outline" color="primary" floatLabel="always">
                    <mat-label>Indirizzo</mat-label>
                    <input matInput placeholder="Inserisci l'indirizzo" type="text" name="indirizzo"
                    formControlName="indirizzo">
                    <mat-error *ngIf="clienteReactive.get('indirizzo')?.hasError('required')">Indirizzo obbligatorio</mat-error>
                    <mat-error *ngIf="clienteReactive.get('indirizzo')?.hasError('minlength')">Minimo 12 caratteri</mat-error>
                </mat-form-field>
            </p>

            <p>
                    <mat-slide-toggle formControlName="attivo" >Attivo
                    </mat-slide-toggle>
            </p>
  
            <div class="col-12">
                <button mat-icon-button aria-label="Back" (click)="back()" color="primary">
                    <mat-icon>arrow_back</mat-icon>
                </button>
                <button type="submit" name="submit" value="submit" id="submit" color="primary" mat-icon-button
                    *ngIf="disable()"><mat-icon>done</mat-icon></button>
            </div>
  
        </form>
    </mat-card-content>
  
  </mat-card>
